#header{z-index: 40; position: relative; width: 100%; height: 70px;}
  .header_wrap{position: absolute; left: 0; top: 0; width: 100%; height: 70px; background: #f3f3f3; transition: all 0.3s linear; overflow: hidden;}
    .header_inner{position: relative; width: 100%; height: 70px; background-color: #fff;}

/* header */
/* 로고 */
h1.logo{position: absolute; left: 30px; top: 18px;}
h1.logo>a{width: 176px; height: 36px; display: block; background: url(../images/logo.png) no-repeat 0 0; text-indent: -9999px; overflow: hidden;}

/* 주메뉴 */
nav.gnb>ul{display: flex; justify-content: center; width: 100%; text-align: center;}
nav.gnb>ul>li{display: inline-block; padding:  0 45px; line-height: 70px;}
nav.gnb>ul>li>a{position: relative; display: inline-block; font-size: 18px; font-weight: 600px; color: #000;}
nav.gnb>ul>li>a::after{
  content: ""; position: absolute; display: inline-block; left: 50%; bottom: 0; transform: translateX(-50%);
  opacity: 0; width: 0%; height: 0px; background: #043285; transition: all 0.4s linear 0s;}
nav.gnb>ul>li:hover>a::after{height: 3px; width: 100%; opacity: 1;}

nav.gnb>ul>li>div{position: absolute; display: none; left: 0; width: 100%; line-height: 40px;}
nav.gnb>ul>li.on>div{display: block;}

nav.gnb>ul>li>div>ul{margin: 50px 0;}
nav.gnb>ul>li>div>ul>li{display: inline-block; vertical-align: top; border-right: 1px solid #ddd; padding:0 40px; text-align: left;}
nav.gnb>ul>li>div>ul>li:last-child{border-right: none;}
nav.gnb>ul>li:nth-child(1)>div>ul>li{height: 270px;}
nav.gnb>ul>li:nth-child(2)>div>ul>li{height: 200px;}
nav.gnb>ul>li:nth-child(3)>div>ul>li{height: 121px;}
nav.gnb>ul>li:nth-child(4)>div>ul>li{height: 231px;}
nav.gnb>ul>li:nth-child(5)>div>ul>li{height: 164px;}
nav.gnb>ul>li>div>ul>li>a{display: block; color: #1428a0; font-weight: bold; font-size: 16px;}
nav.gnb>ul>li>div>ul>li>ul{float: left;}
nav.gnb>ul>li>div>ul>li>ul:nth-of-type(2){margin-left: 40px;}
.gnb_btn{margin-bottom: 50px;}
.gnb_btn>a{
  display: inline-block; border: 1px solid #e2e2e2; border-radius: 5px; text-align: left; 
  background: url(../images/btn_arrow_ico_l.png) no-repeat 95% 50% #fff; padding: 10px 20px; line-height: 30px;}
.gnb_btn>a>strong{font-size: 18px; font-weight: 600;}
nav.gnb>ul>li:nth-child(1)>div>div.gnb_btn>a{width: 780px; background-position: 97% 50%;}
nav.gnb>ul>li:nth-child(1)>div>div.gnb_btn>a>strong{color: #1428a0;}
nav.gnb>ul>li:nth-child(4)>div>div{display: flex; justify-content: center;}
nav.gnb>ul>li:nth-child(4)>div div.gnb_btn>a{width: 320px; margin-right: 15px;}

/* 탑메뉴 */
dl.topmenu{position: absolute; right: 60px; top: 0;}
dl.topmenu>dd{float: left;}
dl.topmenu>dd>a{position: relative; display: block; width: 60px; height: 40px; padding-top: 30px; text-align: center; font-weight: 600;}
dl.topmenu>dd>a::after{content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 10px; background-color: #ddd;}
dl.topmenu>dd:first-of-type{background: url(../images/ico_inq.png) no-repeat 50% 30px; text-indent: -9999px; overflow: hidden;}
dl.topmenu>dd:first-of-type>a::after{display: none;}
dl.topmenu>dd>ul{display: none; position: absolute; top: 68px; width: 60px; border-top: 5px solid #1428a0; padding-top: 10px; background: #fff;}
dl.topmenu>dd:hover>ul{display: block;}
dl.topmenu>dd:nth-of-type(2)>ul>li>a{
  display: block; background:url(../images/utill_sns_ico.png) no-repeat 0 0; width: 30px; height: 30px;
  border-radius: 50%; text-indent: -9999px; overflow: hidden; margin: 0 auto 10px;}
dl.topmenu>dd:nth-of-type(2)>ul>li:nth-of-type(1)>a{background-position: -30px 0;}
dl.topmenu>dd:nth-of-type(2)>ul>li:nth-of-type(2)>a{background-position: -60px 0;}
dl.topmenu>dd:nth-of-type(2)>ul>li:nth-of-type(3)>a{background-position: 0 0;}
dl.topmenu>dd:nth-of-type(2)>ul>li:nth-of-type(4)>a{background-position: -120px 0;}

dl.topmenu>dd:nth-of-type(3)>ul{height: 130px;}
dl.topmenu>dd:nth-of-type(3)>ul>li{text-align: center; padding: 10px 0;}

/* 검색버튼 */
div.btn_srch{position: absolute; right: 0; top: 0;} 
div.btn_srch>a{
  display: block; width: 60px; height: 70px; background: #043285 url(../images/btn_srch_ico_l.png) no-repeat 50% 50%;
  text-indent: -9999px; overflow: hidden;}

/* 검색박스 */
div.srch_wrap{display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6);}
div.srch_wrap.on{display: block;}
div.srch_inner{position: absolute; left: 0; top: 70px; width: 100%; height: 200px; padding-top: 60px; background: url(../images/srch_pop_bg.jpg) no-repeat 50% 50%; }
div.srch_inner>form{width: 665px; margin: 0 auto;}
div.srch_inner>form>fieldset{width: 100%; height: 55px; background: #fff; margin-bottom: 20px;}
div.srch_inner input[type="search"]{width: 600px; height: 55px; border: none; text-indent: 20px;}
div.srch_inner input::placeholder{font-size: 16px;}
div.srch_inner button[type="button"]{
  width: 45px; height: 45px; transform: translate(1px,1px); background: #333 url(../images/btn_srch_ico_l.png) no-repeat 50% 50%;
  text-indent: -9999px; overflow: hidden;}
div.srch_inner>form>ul{
  display: flex; justify-content: space-between; width: 100%; border-top: 1px solid rgba(225,255,255,0.5);
  padding-top: 20px; border-top: 0.5px solid #fff;}
div.srch_inner>form>ul>li{
  height: 45px; padding: 0 29px; border-radius: 5px; margin-right: 10px; background: #eee; font-size: 16px; 
  line-height: 45px;}
div.srch_inner>form>ul>li:last-child{float: right; margin-right: 0;}
a.btn_srch_close{
  position: absolute; right: 0; top: 0; width: 60px; height: 70px; background: #043285 url(../images/srch_pop_close.png) no-repeat 50% 50%;
  text-indent: -9999px; overflow: hidden;}