/* main.css */

.main_visual{z-index: 30; position: relative; width: 100%;}
#container{width: 100%; background: #f4f7fb;}
.content1{position: relative; width: 100%; background: #fff;}
.content1_inner{position: relative; width: 1142px; margin: 0 auto; padding: 90px 0;}
.content2{width: 100%;}
.content3{width: 1142px; margin: 0 auto 80px;}
.content4{width: 100%}
.sitemap{width: 100%; background: #f3f3f3;}

/* main visual*/
ul.slide_wrap{position: relative; width: 100%; min-width: 1360px; height: 810px;}
li.slide{opacity: 0; z-index: 1; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
li.slide.active{opacity: 1; z-index: 3;}
li.slide>video{width: 100%; height: 100%; object-fit: cover;}
li.slide>p{position: absolute; left: 50%; top: 200px; transform: translateX(-50%); font-size: 40px; color: #fff; text-align: center;}

.slide_arr>a{z-index: 10; position: absolute; top: 50%; transform: translateY(-50%); width: 30px; height: 57px; 
  background: url(../images/slide_arr_btn.png) 0 0 no-repeat; text-indent: -9999px; overflow: hidden;}
a.btn_prev{left: 30px;}
a.btn_next{right: 30px; background-position: -30px 0;}

.slide_roll{z-index: 10; position: absolute; left: 50%; transform: translateX(-50%);bottom: 30px; }
.slide_roll>ul{float: left;}
.slide_roll>ul>li{float: left; padding: 0 5px;}
.slide_roll>ul>li>a{
  display: block; width: 10px; height: 10px; border-radius: 50%; background: #ccc; text-indent: -9999px; overflow: hidden;}
.slide_roll>ul>li.on>a{background: #fff;}
.slide_roll>a.btn_play{
  float: left; width: 9px; height: 9px; margin-left: 5px; background: url(../images/slide_btn1.png); 
  text-indent: -9999px; overflow: hidden;}
.slide_roll>a.btn_play.on{background-position: -9px 0;}

.content1::before{position: absolute; top: 0; left: 0; content: ""; display: block; width: 100%; height: 300px; background: #f8f9fc;}
.content1_inner>h2{width: 100%; font-size: 35px; font-weight: 800; text-align: center; padding: 50px 0;}
.content1_inner>ul{width: 100%; display: flex; justify-content: space-between;}
.content1_inner>ul>li{flex: 1; padding-left: 30px;}
.content1_inner>ul dl{display: flex; flex-direction: column;}
.content1_inner>ul dl>dt{order: 3; padding: 0 10px; font-size: 23px; font-weight: bold;}
.content1_inner>ul dl>dd:first-of-type{order: 2; padding: 20px 10px; font-size: 16px; font-weight: 600;}
.content1_inner>ul dl>dd>span:first-of-type{color: #1428a0;}
.content1_inner>ul dl>dd>span:first-of-type::after{content: ""; margin: 0 10px; display: inline-block; width: 2px; height: 13px; background: #ccc;}
.content1_inner>ul dl>dd>span:last-of-type{color: #ccc; font-weight: normal;}
.content1_inner>ul dl>dd:last-of-type{order: 1;}
.content1_inner>ul dl>dd>img{width: 100%;}

.content1_inner>.newsletter{width: 100%; height: 180px; background: #f4f7fb url(../images/bg_newsletter.jpg) no-repeat 30px 50%;}
.content1_inner>.newsletter{position: relative; margin: 100px 0;}
.content1_inner>.newsletter>div{float: right; width: 68%; padding-top: 50px; padding-right: 150px;}
.content1_inner>.newsletter>div>h4{font-size: 28px; color: #000; font-weight: bold;}
.content1_inner>.newsletter>div>p{display: inline-block; font-size: 18px; color: #999; padding: 20px 0;}
.content1_inner>.newsletter>div>a{float: right; width: 150px; line-height: 50px;
  font-size: 16px; text-align: center; margin-left: 20px; color: #999; background:#fff url(../images/btn_arrow_ico_m.png) no-repeat 88% 50%;}

.content2{position: relative; width: 100%; background: url(../images/bg_prhall.jpg)no-repeat 0 0; height: 290px;}
.content2>a{display: block; width: 100%; background: url(../images/img_prhall.png) no-repeat 115% 50%; height: 100%;}
.content2>a>div{margin-left: 275px; box-sizing: border-box; width: 56%; height: 100%; display: flex; align-items: center;
  justify-content: space-between;}
.content2>a>div>h2{position: relative; left: 120px; color: #fff;}
.content2>a>div>h2>span{position: absolute; top: -20px; font-size: 24px;}
.content2>a>div>h2>strong{font-size: 60px; font-weight: bold;}
.content2>a>div>p{position: relative; color: rgba(225,255,255,0.5); font-size: 18px;}
.content2>a>div>p::before{content: ""; display: inline-block; position: absolute; left: -320px; top: 50%;
    width: 300px; height: 1px; background: rgba(225,255,255,0.5)}

.content3>form{margin-top: 100px; display: flex; justify-content: center; border-bottom: 1px solid #999;}
.content3>form>fieldset{position: relative; width: 50%; padding-bottom: 50px;}
.content3>form>fieldset>legend{font-size: 35px; text-align: center; font-weight: bold; margin-bottom: 25px;}
.content3>form>fieldset>input{width: 100%; height: 70px; padding: 20px; font-size: 16px; border: none;}
.content3>form>fieldset>button{position: absolute; right: 0; height: 70px; width: 50px; border: none;
  overflow: hidden; text-indent: -9999px; background: url(../images/ico_search.png) no-repeat 0 50%;}
.content3>ul:first-of-type{display: flex; justify-content: space-between; margin: 50px 0;}
.content3>ul:first-of-type>li>a{display: inline-block; width: 550px; height: 150px; border-radius: 0 15px 15px 15px; background: #fff;}
.content3>ul:first-of-type>li>a>dl{position: relative; width: 100%; height: 100%; 
  display: flex; flex-direction: column; justify-content: center;}
.content3>ul:first-of-type>li>a>dl::after{content: ""; position: absolute; left: 40px; top: 0;
  width: 40px; height: 5px; background-color: #1428a0;}
.content3>ul:first-of-type>li>a>dl>dt{display: inline-block; font-size: 20px; font-weight: bold;}
.content3>ul:first-of-type>li>a>dl>dd{font-size: 18px; color: #999; line-height: 30px;}
.content3>ul:last-of-type>li{width: 100%; height: 350px;}
.content3>ul:last-of-type>li>a{display: inline-block; width: 100%; height: 100%;}
.content3>ul:last-of-type>li>a>div{position: relative; float: left; width: 50%; height: 100%; overflow: hidden; text-indent: -9999px;}
.content3>ul:last-of-type>li>a>div::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; transition: transform 0.3s linear;}
.content3>ul:last-of-type>li:nth-of-type(1)>a>div::after{background: url(../images/img_prd01.jpg) no-repeat 0 0;}
.content3>ul:last-of-type>li:nth-of-type(2)>a>div::after{background: url(../images/img_prd02.jpg) no-repeat 0 0;}
.content3>ul:last-of-type>li:nth-of-type(3)>a>div::after{background: url(../images/img_prd03.jpg) no-repeat 0 0;}
.content3>ul:last-of-type>li>a>dl{float: right; width: 50%; height: 100%; display: flex; flex-direction: column;
  justify-content: center; padding: 50px; box-sizing: border-box;}
.content3>ul:last-of-type>li:nth-of-type(2)>a>div{float: right;}
.content3>ul:last-of-type>li:nth-of-type(2)>a>dl{float: left;}
.content3>ul:last-of-type>li>a>dl>dt{font-size: 33px; font-weight: bold; padding-top: 50px; background: url(../images/ico_prd01.png) no-repeat 0 0;}
.content3>ul:last-of-type>li:nth-child(2)>a>dl>dt{background: url(../images/ico_prd02.png) no-repeat 0 0;}
.content3>ul:last-of-type>li:last-child>a>dl>dt{background: url(../images/ico_prd03.png) no-repeat 0 0;}
.content3>ul:last-of-type>li>a>dl>dd{font-size: 17px; color: #aaa; line-height: 1.5; margin-top: 20px;}
.content3>ul:last-of-type>li>a>dl>dd:last-child{width: 130px; font-size: 16px; padding: 12px; 
  background: #fff url(../images/ico_prd_arr.png) no-repeat 75% 50%; color: #666; transition: all 0.3s linear;}
.content3>ul:last-of-type>li:hover>a>dl>dd:last-child{background: #1428a0 url(../images/ico_prd_arr_on.png) no-repeat 75% 50%;; color: #fff;}
.content3>ul:last-of-type>li:hover>a>div::after{transform: scale(1.2);}

.content4>ul{display: flex; justify-content: center;}
.content4>ul>li{position: relative; width: 50%; height: 860px; overflow: hidden;}
.content4>ul>li>::after{content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background:url(../images/img_company01.jpg) no-repeat 0 0; 
  transition: all 0.3s linear;}
.content4>ul>li:last-child>::after{background: url(../images/img_company02.jpg) no-repeat 0 0;}
.content4>ul>li:hover>::after{transform: scale(1.2);}

.content4>ul>li>a>dl{z-index: 20; position: absolute; width: 100%; height: 100%; display: flex; flex-direction: column; 
  justify-content: center; text-align: center;}
.content4>ul>li>a>dl::after{z-index: 5; content: ""; position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0); transition: all 0.3s linear;}
.content4>ul>li:hover>a>dl::after{background: rgba(0,0,0,0.3);}
.content4>ul>li>a>dl>dt{z-index: 30; font-size: 34px; font-weight: bold; color: #fff; background: url(../images/ico_company01.png) no-repeat 50% -0%; 
  box-sizing: border-box; padding-top: 110px; padding-bottom: 20px;}
.content4>ul>li:last-child>a>dl>dt{background: url(../images/ico_company02.png) no-repeat 50% -0%; }
.content4>ul>li>a>dl>dd{z-index: 30;font-size: 18px; line-height: 1.8; color: rgba(225,255,255,0.7);}

.sitemap>ul{width: 1142px; margin: 0 auto; padding: 60px 0;}
.sitemap>ul::after{content: ""; display: block; clear: both;}
.sitemap>ul>li{float: left; margin-right: 150px; line-height: 40px;}
.sitemap>ul>li>a{color: #333; font-size: 18px; font-weight: bold;}
.sitemap>ul>li>ul>li>a{color: #888;}
