/* sub1.css */

#container{width: 100%;}
  .spot{width: 100%; height: 320px;}
    .spot_inner{position: relative; width: 1142px; height: 320px; padding-top: 100px; box-sizing: border-box; margin: 0 auto;}
  #content{width: 1142px; margin: 0 auto; padding: 100px 0 160px;}


/* container */
/* spot */
.spot{background: url(../images/faq_visual_img.jpg) no-repeat 50% 0 #fff;}
.spot_inner>h2{font-size: 46px; margin-bottom: 15px;}
.spot_inner>p{font-size: 16px; color: #eee;}
.spot_inner>p.path{position: absolute; bottom: 20px; right: 0; text-align: right; font-size: 14px; color: #ccc;}

/* content */
#content h3{font-size: 36px; color: #000; font-weight: bold; line-height: 1;}
#content h3::after{content: ""; display: block; width: 40px; height: 3px; background: #0073cc; margin: 20px 0 30px;}

/* fap */
.faq{
  display: flex; justify-content: space-between;  width: 100%; padding: 20px 30px; box-sizing: border-box;
  border: 1px solid #ccc; margin-bottom: 60px;}
.faq>p{font-size: 16px; line-height: 45px;}
.faq>a{display: block; width: 160px; height: 45px; background: #043285 url(../images/btn_arrow_ico_w.png) no-repeat 90% 50%;
color: #fff; font-size: 16px; text-align: center; line-height: 45px;}

/* step1 */
.step1 ul{display: flex; justify-content: left; margin-bottom: 120px; width: 100%;}
.step1 ul>li{flex: 1; text-align: center;}
.step1 ul>li>a{
  display: block; width: 190px; height: 170px; border: 1px solid #ccc; border-left: none;
  color: #222; font-size: 17px; padding-top: 120px; box-sizing: border-box;}
.step1 ul>li:first-child>a{border-left:1px solid #ccc; background: url(../images/ico_inquiry_01.png) no-repeat 50% 35%;}
.step1 ul>li:nth-child(2)>a{background: url(../images/ico_inquiry_02.png) no-repeat 50% 35%;}
.step1 ul>li:nth-child(3)>a{background: url(../images/ico_inquiry_03.png) no-repeat 50% 35%;}
.step1 ul>li:nth-child(4)>a{background: url(../images/ico_inquiry_04.png) no-repeat 50% 35%;}
.step1 ul>li:nth-child(5)>a{background: url(../images/ico_inquiry_05.png) no-repeat 50% 35%;}
.step1 ul>li:nth-child(6)>a{background: url(../images/ico_inquiry_06.png) no-repeat 50% 35%;}

/* step2 */
.step2>p{font-size: 16px; letter-spacing: -0.5px; margin-bottom: 20px;}
.step2>p.essential{text-align: right; margin: 10px;}
.step2>form>fieldset>dl{border-top: 1px solid #333; padding: 50px 80px; background: #f3f3f3;}
.step2>form>fieldset>dl dt{font-size: 20px; font-weight: 600;}
.step2>form>fieldset>dl dt>label>span{padding-right: 5px; color: #1a73d7; font-size: 14px;}
.step2>form>fieldset>dl>dd input,form select{width: 100%; height: 45px; border: 1px solid #ccc; margin: 20px 0; box-sizing: border-box; text-indent: 10px;}
.step2>form textarea{width: 100%; height: 260px; padding: 18px; border: 1px solid #ccc; margin: 20px 0; box-sizing: border-box;}
.step2>form dd.product{display: flex; justify-content: space-between;}
.step2>form dd.product select{width: 310px;}
.step2 form dd.separate{border-bottom: 1px solid #ccc; margin-bottom: 20px;}
.step2>form dd.user{display: flex; justify-content: space-between;}
.step2>form dd.user input{width: 478px;}
.step2>form dd.phone input{margin-bottom: 10px;}
.step2>form dd.phone input:first-of-type{width: 310px; margin-right: 14px;}
.step2>form dd.phone input:last-of-type{width: 620px; margin-left: 14px;}
.step2>form dd.phone p{padding-bottom: 20px; font-size: 16px; color: #333;}
.step2>form dd.attach input[type="text"]{width: 794px; margin-right: 20px; background: #fff;}
.step2>form dd.attach input[type="file"]{display: none;}
.step2>form dd.attach label{display: inline-block; width: 160px; height: 45px; background: #333; color: #fff; text-align: center; line-height: 45px;}

/* 개인정보동의 */
.step2 h4{margin:80px 0 20px; font-size: 30px;}
.step2 form div.agree{border:  1px solid #ccc; padding: 50px; margin-bottom: 90px; font-size: 16px; color: #666;}
.step2 form div.agree h5{color: #0079cc; margin-bottom: 10px;}
.step2 form div.agree>p{margin-bottom: 30px;}
.step2 form div.agree ul{margin-bottom: 15px;}
.step2 form div.agree ul li{background:  url(../images/bg_list_dot.gif)no-repeat 0 50%; text-indent:  10px; line-height: 1.8;}
.step2 form div.agree ul li span{color: #0073cc; font-size: 20px; text-decoration: underline;}
.step2 form div.agree p:nth-last-of-type(1){text-align: right;}
.step2 form div.agree p:nth-last-of-type(2){display: flex; justify-content: space-between; margin-bottom: 15px;}

/* 접수하기 */
.step2 form input[type="submit"]{
  display: block; width: 160px; height: 45px; margin: 0 auto; border: none;
  background: #433285 url(../images/btn_arrow_ico_w.png) no-repeat 75% 50%; color: #fff; text-align: center;}
